inherits = "onedark"

"ui.cursor.primary" = { fg = "light-yellow", modifiers = ["reversed"] }

[palette]

yellow = "#E5C07B"
light-yellow = "#FAF3E6"
blue = "#61AFEF"
red = "#E06C75"
purple = "#C678DD"
green = "#98C379"
gold = "#D19A66"
cyan = "#56B6C2"
white = "#ABB2BF"
black = "#282C34"
light-black = "#2C323C"
gray = "#3E4452"
faint-gray = "#3B4048"
light-gray = "#5C6370"
linenr = "#4B5263"
